
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Kontrolna tabla</h2>

<div class="jumbotron" style="margin: 10px; border-radius:20px;">
    <div class="text-center">
        <h1>Dobrodošli admin!</h1>
        <p>Ovo je kontrolna tabla portala ProdajaKamiona.com</p>
    </div>
</div>

